@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black font-garamond w-full h-dvh p-4 relative;
}

.font-garamond {
  font-family: "EB Garamond", serif;
}

.text-glow {
  text-shadow: 0px 0px 11px #fff;
  -webkit-text-stroke: 0.2px black;
  display: block;
}
